.modal {
  position: fixed;
  background-color: 32, 32, 32, 0.75;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
}

.modal.is-open {
  display: flex;
}

.modal-close {
  position: absolute;
}
