.buttonFinishToDiv {
  display: flex;
  flex-direction: row;
}

.buttonFinish {
  font-size: smaller;
  color: white;
  background-color: rgb(136, 15, 15);
  border-color: orange;
  border-radius: 1rem;
  margin: 1rem;
  max-height: 3rem;
}
.buttonTo {
  font-size: smaller;
  color: black;
  background-color: white;
  border-color: orange;
  border-radius: 1rem;
  margin: 1rem;
  max-height: 3rem;
}
