.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: orange;
}

.logo {
  width: 8rem;
  height: auto;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.navBar--containerList {
  display: flex;
  align-items: center;
}
.containerList--list {
  list-style: none;
  display: flex;
}
.list--item {
  text-decoration: none;
  padding-right: 2rem;
}
.link {
  text-decoration: none;
  color: black;
}
